*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Martian Mono', monospace;
}

.cabeçalho {
  background-color: #C84141;
  color: white;
  display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
  }

  .cabeçalho-imagem{
    width: 19%;

  }
  .cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
  }

  .escola-imagem{
    width: 25%;
  }

  .escola{
    background-color: #C84141;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .escola-div-conteudo{
    width: 35%;
  }
  .escola-titulo{
    padding: 15px 0;
  }

  .estudante-imagem{
    width: 130px;
  }

  .estudante-imagem-meninas{
    width: 130px;
  }

  .estudante-titulo{
    text-align: center;
    padding: 50px 0;
  }

  .estudante-div{
    text-align: center;
  }

  .estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
  }

  .estudante-imagem-meninas{
    width: 130px;
  }

 .cor-todo-o-site{
 background-color: #C84141;
 }

 .estudante-titulo{
  color: white;
  font-family: 'Italiana', serif;
  font-size: 30px;
 }

 .estudante-nome{
  font-family: 'Ysabeau SC', sans-serif;
  color: white;
 }

 .rodape{
  background-color: black;
  text-align: center;
 }

 .imagem-rodape{
  height: 60px;
  padding: 12px 0;
 }

 .cabeçalho-lista-item{
  font-family: 'Ysabeau SC', sans-serif;
  color: white;
 }